<nav class="navbar-bruma">
  <div class="logo-section">
    <span>☕</span>
    <div>BRUMA CAFETERÍA</div>
  </div>
  <button class="hamburger" (click)="toggleMenu()">
    <i class="bi" [ngClass]="menuAbierto ? 'bi-x-lg' : 'bi-list'"></i>
  </button>
  <div class="nav-menu" [class.show]="menuAbierto">
    <a routerLink="/home" routerLinkActive="active" (click)="cerrarMenu()" class="nav-link">Empleados</a>
    <div class="divider">|</div>
    <a routerLink="/mesas" routerLinkActive="active" (click)="cerrarMenu()" class="nav-link">Mesas</a>
    <div class="divider">|</div>
    <a routerLink="/productos" routerLinkActive="active" (click)="cerrarMenu()" class="nav-link">Productos</a>
    <button (click)="onLogout()" class="btn-logout-mobile">
      Salir 🚪
    </button>
  </div>
  <button (click)="onLogout()" class="btn-logout-desktop">
    <span>Salir</span> 🚪
  </button>
</nav>
<main class="main-content">
  <router-outlet></router-outlet>
</main>
